<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <section class="menu">
    <div class="title">
        <h2>Combos Personales</h2>
        <div class="subrayar"></div>
      </div>
      <div class="section-center">
        <!-- single item -->
        <article class="menu-item">
          <img src="../assets/Imagenes/supertaco.jpeg" alt="menu item" class="photo" />
          <div class="item-info">
            <header>
              <h4>Super Taco</h4>
              <h4 class="precio">L.118.00</h4>
            </header>
            <p class="item-text">
              10 pulgadas rellenas de pollo, papas fritas, cebolla, jamon, queso craft, salsas y aderezo.
            </p>
          </div>
        </article>
        <!-- end of single item -->
        <!-- single item -->
        <article class="menu-item">
          <img src="../assets/Imagenes/hamburguesa.jpeg" alt="menu item" class="photo" />
          <div class="item-info">
            <header>
              <h4>Hamburguesa</h4>
              <h4 class="precio">L.118</h4>
            </header>
            <p class="item-text">
                Hamburguesa de pollo o res, con papas fritas.
            </p>
          </div>
        </article>
        <!-- end of single item -->
        <!-- single item -->
        <article class="menu-item">
          <img src="../assets/Imagenes/hamburguesa.jpeg" alt="menu item" class="photo" />
          <div class="item-info">
            <header>
              <h4>Super Taco</h4>
              <h4 class="precio">L. 122</h4>
            </header>
            <p class="item-text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Repudiandae, sint quam. Et reprehenderit fugiat nesciunt inventore
              laboriosam excepturi! Quo, officia.
            </p>
          </div>
        </article>
        <!-- end of single item -->
      </div>
    </section>
<script src="menu.js"></script>    
</body>
</html>
