<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <section class="menu">
    <div class="title">
        <h2>Combos Familiares</h2>
        <div class="subrayar"></div>
      </div>
      <div class="section-center">
        <!-- single item -->
        <article class="menu-item">
          <img src="../assets/Imagenes/cos1.jpg" alt="menu item" class="photo" />
          <div class="item-info">
            <header>
              <h4>Costilla</h4>
              <h4 class="precio">L.230.00</h4>
            </header>
            <p class="item-text">
              *1 Lb de costilla a la brasa (salsa barbacoa)
              *Chimol
              *Encurtido
              *Limon
              *12 tortillas
            </p>
          </div>
        </article>
        <!-- end of single item -->
        <!-- single item -->
        <article class="menu-item">
          <img src="../assets/Imagenes/cubetazo.jpeg" alt="menu item" class="photo" />
          <div class="item-info">
            <header>
              <h4>Cubetazo de Pollo</h4>
              <h4 class="precio">L.395</h4>
            </header>
            <p class="item-text">
                *8 pzs de pollo.
                *1 arroz chino.
                *Ensalada.
                *Pure de papas.
                *Panecillos
            </p>
          </div>
        </article>
        <!-- end of single item -->
        <!-- single item -->
        <article class="menu-item">
          <img src="../assets/Imagenes/nav1.jpg" alt="menu item" class="photo" />
          <div class="item-info">
            <header>
              <h4>Promo Caribeña</h4>
              <h4 class="precio">L. 650.00</h4>
            </header>
            <p class="item-text">
             *1 Pescado frito (1 Lb).
             *1 Sopa de Camaron.
             *1 Orden Camaron Empanizado.
            </p>
          </div>
        </article>
        <!-- end of single item -->
      </div>
    </section>
<script src="menu.js"></script>    
</body>
</html>