<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <header>
    <div class="container">
        <div class="row align-items-stretch justify-content-between">
            <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
                
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item dropdown">
                            
                            <div id="carrito" class="dropdown-menu" aria-labelledby="navbarCollapse">
                                <table id="lista-carrito" class="table">
                                    <thead>
                                        <tr>
                                            <th>imagen</th>
                                            <th>titulo</th>
                                            <th>precio</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>

                                <a href="#" id="vaciar-carrito" class="btn btn-primary btn-block">Vaciar Carrito</a>
                                <a href="#" id="procesar-pedido" class="btn btn-danger btn-block">Procesar
                                    Compra</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</header>

<main>
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 my-4 mx-auto text-center">
        <h1 class="display-4 mt-4">Lista de Productos</h1>
    </div>

    <div class="container" id="lista-productos">
        <!-- todo el producto ven aqui -->
    </div>
</main>

    <section class="menu">
    <div class="title">
        <h2>Combos Familiares</h2>
        <div class="subrayar"></div>
      </div>
      <div class="section-center">
         <!--single item -->
        <article class="menu-item">
          <img src="../assets/Imagenes/cos1.jpg" alt="menu item" class="photo" />
          <div class="item-info">
            <header>
              <h4>Costilla</h4>
              <h4 class="precio">L.230.00</h4>
            </header>
            <p class="item-text">
              *1 Lb de costilla a la brasa (salsa barbacoa)
              *Chimol
              *Encurtido
              *Limon
              *12 tortillas
            </p>
          </div>
        </article>
        <!-- end of single item -->
        <!-- single item -->
        <article class="menu-item">
          <img src="../assets/Imagenes/cubetazo.jpeg" alt="menu item" class="photo" />
          <div class="item-info">
            <header>
              <h4>Cubetazo de Pollo</h4>
              <h4 class="precio">L.395.00</h4>
            </header>
            <p class="item-text">
                *8 pzs de pollo.
                *1 arroz chino.
                *Ensalada.
                *Pure de papas.
                *Panecillos
            </p>
          </div>
        </article>
        <!-- end of single item -->
        <!-- single item -->
        <article class="menu-item">
          <img src="../assets/Imagenes/nav1.jpg" alt="menu item" class="photo" />
          <div class="item-info">
            <header>
              <h4>Promo Caribeña</h4>
              <h4 class="precio">L. 650.00</h4>
            </header>
            <p class="item-text">
             *1 Pescado frito (1 Lb).
             *1 Sopa de Camaron.
             *1 Orden Camaron Empanizado.
            </p>
          </div>
        </article>
        <!-- end of single item -->
        <!-- single item -->
        <article class="menu-item">
            <img src="../assets/Imagenes/box1.jpg" alt="menu item" class="photo" />
            <div class="item-info">
              <header>
                <h4>Box Peña</h4>
                <h4 class="precio">L.495.00</h4>
              </header>
              <p class="item-text">
                  *5 Piernas de pollo.
                  *1 Ensalada familiar.
                  *1 Arroz chino familiar.
                  *10 Panecillos.
                  *1 Papa familiar.
              </p>
            </div>
          </article>
<!-- end of single item -->
        <!-- single item -->
        <article class="menu-item">
            <img src="../assets/Imagenes/piz2.jpg" alt="menu item" class="photo" />
            <div class="item-info">
              <header>
                <h4>Promo Feliz</h4>
                <h4 class="precio">L.540.00</h4>
              </header>
              <p class="item-text">
                  *1 Pizza de jamon (8 pzs).
                  *1 Pollo entero (8 pzs).
                  *1 Arroz chino.
                  *4 Panecillos.
              </p>
            </div>
          </article>
          <!-- end of single item -->
        <!-- single item -->
        <article class="menu-item">
          <img src="../assets/Imagenes/cel1.jpg" alt="menu item" class="photo" />
          <div class="item-info">
            <header>
              <h4>Promo Pa'CELEBRAR#1</h4>
              <h4 class="precio">L.1846.00</h4>
            </header>
            <p class="item-text">
                *16 Piezas de Pollo al Horno.
                *1 Arroz con Vegatales.
                *1 Ensalada de Lechuga.
                *16 Panecillos.
                *1 Pure de Papas
                *16 Postres Gratis
                *1 Refresco GRATIS 1 Galón
            </p>
          </div>
        </article>
        <!-- end of single item -->
        <!-- single item -->
        <article class="menu-item">
          <img src="../assets/Imagenes/cel2.jpg" alt="menu item" class="photo" />
          <div class="item-info">
            <header>
              <h4>Promo Pa'CELEBRAR#2</h4>
              <h4 class="precio">L.3,550</h4>
            </header>
            <p class="item-text">
                *32 Piezas de Pollo al Horno.
                *1 Arroz con Vegatales.
                *1 Ensalada de Lechuga.
                *32 Panecillos.
                *1 Pure de Papas
                *16 Postres Gratis
                *2 Refresco GRATIS 2 Galones
            </p>
          </div>
        </article>
        <!-- end of single item -->
        <!-- single item -->
        <article class="menu-item">
          <img src="../assets/Imagenes/cel3.jpg" alt="menu item" class="photo" />
          <div class="item-info">
            <header>
              <h4>Promo Pa'CELEBRAR#3</h4>
              <h4 class="precio">L.5,400</h4>
            </header>
            <p class="item-text">
                *50 piezas de Pollo al Horno.
                *1 Arroz con Vegatales.
                *1 Ensalada de Lechuga.
                *50 Panecillos.
                *1 Pure de Papas
                *50 Postres Gratis
                *3 Refresco GRATIS 3 Galones
            </p>
          </div>
        </article>
        <!-- end of single item -->
        <!-- single item -->
        <article class="menu-item">
          <img src="../assets/Imagenes/cel4.jpg" alt="menu item" class="photo" />
          <div class="item-info">
            <header>
              <h4>Promo Pa' QUE CELEBRES</h4>
              <h4 class="precio">L.1,579</h4>
            </header>
            <p class="item-text">
                *3 Pizzas de Jamon (8 piezas c/u).
                *24 Piezas de Pollo.
                *Arroz Chino para 24 Personas.
                *24 Panecillos.
                *6 Refresco 1.1Lts
            </p>
          </div>
        </article>
        <!-- end of single item -->
        <!-- single item -->
        <article class="menu-item">
          <img src="../assets/Imagenes/chi2.jpg" alt="menu item" class="photo" />
          <div class="item-info">
            <header>
              <h4>Combo Oriental</h4>
              <h4 class="precio">L.569</h4>
            </header>
            <p class="item-text">
                *1 Orden de Arroz Chino.
                *1 Orden de Chop-Suey.
                *1 Orden de Pollo Con Vegetales en Salsa China.
                *10 Panecillos.
                *2 Refresco 1.1Lts
            </p>
          </div>
        </article>
        <!-- end of single item -->
        <!-- single item -->
        <article class="menu-item">
          <img src="../assets/Imagenes/duo1.jpg" alt="menu item" class="photo" />
          <div class="item-info">
            <header>
              <h4>Combo Duo</h4>
              <h4 class="precio">L.245</h4>
            </header>
            <p class="item-text">
                *1 Pechuga.
                *1 Pierna de Pollo.
                *1 Arroz Chino.
                *1 Refresco 1.1Lts
            </p>
          </div>
        </article>
        <!-- end of single item -->
        <!-- single item -->
        <article class="menu-item">
          <img src="../assets/Imagenes/duo1.jpg" alt="menu item" class="photo" />
          <div class="item-info">
            <header>
              <h4>Combo Trio</h4>
              <h4 class="precio">L.355</h4>
            </header>
            <p class="item-text">
                *1 Super Taco.
                *1 Pierna de Pollo.
                *1 Hamburguesa.
                *1 Refresco 1.1Lts
            </p>
          </div>
        </article>
        <!-- end of single item -->
        <!-- single item -->
        <article class="menu-item">
          <img src="../assets/Imagenes/duo2.jpg" alt="menu item" class="photo" />
          <div class="item-info">
            <header>
              <h4>La Promo Peña#1</h4>
              <h4 class="precio">L.520</h4>
            </header>
            <p class="item-text">
                *1 Pizza de Jamon (8 piezas).
                *1 Pollo entero frito (8 piezas).
                *1 Arroz Chino (4 Personas).
                *8 Panecillos 
                *2 Refresco 1Lts
            </p>
          </div>
        </article>
        <!-- end of single item -->
        <!-- single item -->
        <article class="menu-item">
          <img src="../assets/Imagenes/duo2.jpg" alt="menu item" class="photo" />
          <div class="item-info">
            <header>
              <h4>La Promo Peña#2</h4>
              <h4 class="precio">L.630</h4>
            </header>
            <p class="item-text">
                *5 Pizzas (3 de Jamon y 2 de Peperoni) (8 piezas c/u)
                *4 Refresco 1Lts
            </p>
          </div>
        </article>
        <!-- end of single item -->
        <!-- single item -->
        <article class="menu-item">
          <img src="../assets/Imagenes/duo3.jpg" alt="menu item" class="photo" />
          <div class="item-info">
            <header>
              <h4>Combo MACIZO</h4>
              <h4 class="precio">L.245</h4>
            </header>
            <p class="item-text">
                *1 Orden Grande de Chicken Fingers.
                *Papas Fritas.
                *Salsa y Aderezo.
                *1 Pierna de Pollo
                *Arroz Chino
                *Refresco 1.1Lts
            </p>
          </div>
        </article>
        <!-- end of single item -->
        <!-- single item -->
        <article class="menu-item">
          <img src="../assets/Imagenes/duo3.jpg" alt="menu item" class="photo" />
          <div class="item-info">
            <header>
              <h4>MI COMBO KTRACHO</h4>
              <h4 class="precio">L.219</h4>
            </header>
            <p class="item-text">
                *Pupusas Quesillo/Chicharrón/Mixta.
                *Yuca Chicharrón/Patita/Mixta.
                *Nachos con Pollo.
                *Refresco 1.1Lts
            </p>
          </div>
        </article>
        <!-- end of single item -->
        <!-- single item -->
        <article class="menu-item">
          <img src="../assets/Imagenes/play1.jpg" alt="menu item" class="photo" />
          <div class="item-info">
            <header>
              <h4>Pack Playero#1</h4>
              <h4 class="precio">L.389</h4>
            </header>
            <p class="item-text">
                *1 Pollo Frito.
                *1 Pollo Asado.
                *20 Panecillos.
                *Aderezos.
                *2 Refresco 1.1Lts
            </p>
          </div>
        </article>
        <!-- end of single item -->
        <!-- single item -->
        <article class="menu-item">
          <img src="../assets/Imagenes/play2.jpg" alt="menu item" class="photo" />
          <div class="item-info">
            <header>
              <h4>Pack Playero#2</h4>
              <h4 class="precio">L.385</h4>
            </header>
            <p class="item-text">
                *8 Piezas De Pollo Frito.
                *1 Arroz Chino.
                *Ensalada.
                *Pure de Papa.
                *Panecillos.
                *Aderezos
              *2 Refresco 1.1Lts
            </p>
          </div>
        </article>
        <!-- end of single item -->
        <!-- single item -->
        <article class="menu-item">
          <img src="../assets/Imagenes/play3.jpg" alt="menu item" class="photo" />
          <div class="item-info">
            <header>
              <h4>Pack Playero#3</h4>
              <h4 class="precio">L.359</h4>
            </header>
            <p class="item-text">
                *8 Piezas De Pollo Frito.
                *1 Arroz Chino o Chop Suey.
                *Ensalada.
                *8 Panecillos.
                *Aderezos
                *2 Refresco 1.1Lts
            </p>
          </div>
        </article>
        <!-- end of single item -->
        <!-- single item -->
        <!--article class="menu-item">
          <img src="../assets/Imagenes/play4jpg" alt="menu item" class="photo" />
          <div class="item-info">
            <header>
              <h4>Pack Playero#4</h4>
              <h4 class="precio">L900</h4>
            </header>
            <p class="item-text">
                *16 Piezas De Pollo Frito.
                *1 Arroz Chino Para 16 Personas.
                *2 Pizzas Jamon Y Queso (8 piezas c/u).
                *16 Panecillos.
                *Aderezos
                *4 Refresco 1.1Lts
            </p>
          </div>
        </article-->
        <!-- end of single item -->
        <!-- single item -->
        <article class="menu-item">
          <img src="../assets/Imagenes/res1.jpg" alt="menu item" class="photo" />
          <div class="item-info">
            <header>
              <h4>Lomo de Res</h4>
              <h4 class="precio">L185</h4>
            </header>
            <p class="item-text">
                *A la plancha.
                *Tajadas de Guineo o Papas Fritas.
                *Frijoles, Ensalada de Lechuga.
                *Queso.
                *Cebolla.	
            </p>
          </div>
        </article>
        <!-- end of single item -->
        <!-- single item -->
        <article class="menu-item">
          <img src="../assets/Imagenes/play5.jpg" alt="menu item" class="photo" />
          <div class="item-info">
            <header>
              <h4>MAR Y TIERRA</h4>
              <h4 class="precio">L399</h4>
            </header>
            <p class="item-text">
                *8 Camarones Empanizados.
                *1/2 Lb. De costilla a la Brasas(Salsa Barbacoa).
                *Rice and Beans.
                *8 Tostones de Platano.
                *Chimol.
                *Encurtido.
                *Ensalada De Lechuga.
                *12 Tortillas.
                *Limon
                *2 Refrescos 1 Lt	
            </p>
          </div>
        </article>
        <!-- end of single item -->
        <!-- single item -->
        <article class="menu-item">
          <img src="../assets/Imagenes/piz1.jpg" alt="menu item" class="photo" />
          <div class="item-info">
            <header>
              <h4>Promo Pizza</h4>
              <h4 class="precio">L219</h4>
            </header>
            <p class="item-text">
                *1 Pizza de Jamon 8 piezas c/u.
                *1 Pizza de Peperoni 8 piezas c/u.
                *2 Refrescos 1.1 Lts	
            </p>
          </div>
        </article>
        
        <!-- end of single item -->
      </div>
    
    </section>
    
    <script src="..//combosfamiliares/js/index.html"></script> 
    <script src="..//combosfamiliares/js/jquery-3.4.1.min.js"></script>
    <script src="..//combosfamiliares/js/bootstrap.min.js"></script>
    <script src="..//combosfamiliares/js/sweetalert2.min.js"></script>
    <script src="..//combosfamiliares/js/carrito.js"></script>
    <script src="..//combosfamiliares/js/pedido.js"></script> 
    <script src="..//combosfamiliares/menu.js"></script>    
</body>
</html>